<!-- TODO ICON SELELCTOR -->
<div class="custom-icons-banner" data-cc-animate>
  <div class="custom-icons-banner container">
    <p class="custom-icons-banner__title">{{ settings.title | escape }}</p>
    <h2 class="custom-icons-banner__heading">{{ settings.heading | escape }}</h2>

    <div class="custom-icons-banner__columns">
      <div class="custom-icons-banner__column">
        <div class="icon">{% render 'icon-location-big' %}</div>
        <div class="title">{{ settings.icon1_title }}</div>
        <div class="description">{{ settings.icon1_description }}</div>
      </div>
      <div class="custom-icons-banner__column">
        <div class="icon">{% render 'icon-planet-earth' %}</div>
        <div class="title">{{ settings.icon2_title }}</div>
        <div class="description">{{ settings.icon2_description }}</div>
      </div>
      <div class="custom-icons-banner__column">
        <div class="icon">{% render 'icon-saint-patrick' %}</div>
        <div class="title">{{ settings.icon3_title }}</div>
        <div class="description">{{ settings.icon3_description }}</div>
      </div>
      <div class="custom-icons-banner__column">
        <div class="icon">{% render 'icon-knitting' %}</div>
        <div class="title">{{ settings.icon4_title }}</div>
        <div class="description">{{ settings.icon4_description }}</div>
      </div>
    </div>

    {% if settings.link != blank %}
      <a href="{{  settings.link }}" class="py-4 px-12 border-solid border-2 border-[#004289] text-[#004289] font-bold hover:text-white hover:bg-[#004289] transition duration-150">Learn More</a>
    {% endif %}


  </div>

</div>