<div class="custom-newsletter" data-cc-animate>
  <div class="custom-newsletter__container" style="background-image: url('{{ settings.newsletter_cover.image | image_url: width: 1200 }}')">

    <div class="custom-newsletter__content">
      <div>
        <h2 class="custom-newsletter__title">{{ settings.title | escape }}</h2>
        <div class="custom-newsletter__subheading">{{ settings.subheading }}</div>
      </div>

      <div class="signup-form">
        {% form 'customer'
          , id: 'home_newsletter_signup' %}
          {% if form.posted_successfully? %}
            <div class="signup-form__response signup-form__response--success">
              <h4>{{ 'layout.signup.post_success' | t }}</h4>
            </div>
          {% else %}
            {% if form.errors %}
              <div class="signup-form__response signup-form__response--error">
                {% for field in form.errors %}
                  <p class="error">{{ field | capitalize }} - {{ form.errors.messages[field] }}</p>
                {% endfor %}
              </div>
            {% endif %}
            <input
              type="hidden"
              name="contact[tags]"
              value="prospect,newsletter" />
            <div class="signup-form__container">

              <div class="custom-newsletter__email">
                <label for="signup-form__email">Email Address</label>
                <input
                  type="email"
                  id="signup-form__email"
                  value=""
                  name="contact[email]"
                  aria-label="{{ 'layout.signup.input_label' | t | escape }}"
                  required />
              </div>
              <button type="submit">
                {{- 'layout.signup.submit' | t -}}
              </button>

            </div>
          {% endif %}
        {% endform %}
      </div>
    </div>
  </div>
</div>