<h3 class="footer-newsletter__heading">join our Newsletter</h3>
<p class="footer-newsletter__description">Be the first to know about Our offers, events, new arrivals & sales.</p>

{% form 'customer'
  , id: 'footer_newsletter_signup' %}
  {% if form.posted_successfully? %}
    <div class="signup-form__response signup-form__response--success">
      <h4>{{ 'layout.signup.post_success' | t }}</h4>
    </div>
  {% else %}
    {% if form.errors %}
      <div class="signup-form__response signup-form__response--error">
        {% for field in form.errors %}
          <p class="error">{{ field | capitalize }} - {{ form.errors.messages[field] }}</p>
        {% endfor %}
      </div>
    {% endif %}
    <input
      type="hidden"
      name="contact[tags]"
      value="prospect,newsletter" />
    <div>
      <div>
        <div>
          <label for="signup-form__email">Email Address</label>
          <input
            type="email"
            id="signup-form__email"
            name="contact[email]"
            aria-label="{{ 'layout.signup.input_label' | t | escape }}"
            required />
        </div>
        <button type="submit">
          {{- 'layout.signup.submit' | t -}}
        </button>
      </div>
    </div>
  {% endif %}
{% endform %}