<header data-cc-animate>
  <div class="header-logo__container">
    <a href="{{ routes.root_url }}" title="{{ shop.name }}">
      <img
        src="{{ section.settings.logo |  image_url: width: "400px" }}"
        alt="{{ section.settings.logo.alt }}"
        class="header-logo__image">
    </a>
  </div>
  <div class="header-menu">
    <div class="header-search__container">
      <form action="{{ routes.search_url }}" method="get">

        <input
          type="search"
          name="q"
          placeholder="What are you looking for?">
        <button type="submit">
          {% render 'icon-search' %}
        </button>
      </form>
    </div>
    <div class="header-menu__container">
      {% render 'main-nav-links'
        , link_list: section.settings.menu_linklist
        , mobile: false
        , featured_links: featured_links %}</div>
  </div>
  <div class="header-icons">
    <div>
      <a href="#" class="favourite-link">
        {% render 'icon-heart' %}</a>
    </div>
    <div>
      <a href="{{ routes.cart_url }}" class="cart-link">
        {% render 'svg-cart' %}</a>
    </div>
  </div>
</header>


{% schema %}
  {
    "name": "Header",
    "class": "section-header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo",
        "info": "520 x 200px (recommended)"
      }, {
        "type": "link_list",
        "id": "menu_linklist",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}