<div id="section-id-{{ section.id }}" class="section-signup">
  <div
    class="bg-gray-100 p-10 my-6 w-full flex align-center justify-center bg-cover bg-center"
    style="background-image: url('{{ section.settings.newsletter_cover.image | image_url: width: 1200 }}')"
    data-cc-animate
    data-cc-animate-delay="0.3s">

    <div class="bg-white w-auto p-12">
      <h2 class="mb-0 font-bold text-2xl">{{ section.settings.title | escape }}</h2>
      <div class="rte lightly-spaced-row">{{ section.settings.subheading }}</div>
      <div class="signup-form">
        {% form 'customer'
          , id: 'home_newsletter_signup' %}
          {% if form.posted_successfully? %}
            <div class="signup-form__response signup-form__response--success">
              <h4>{{ 'layout.signup.post_success' | t }}</h4>
            </div>
          {% else %}
            {% if form.errors %}
              <div class="signup-form__response signup-form__response--error">
                {% for field in form.errors %}
                  <p class="error">{{ field | capitalize }} - {{ form.errors.messages[field] }}</p>
                {% endfor %}
              </div>
            {% endif %}
            <input
              type="hidden"
              name="contact[tags]"
              value="prospect,newsletter" />
            <div class="signup-form__inline-container">
              <div class="flex flex-row gap-2 items-end">
                <div class="flex flex-1 flex-col items-start">
                  <label for="text-[#004289] text-xs mb-2" style="font-weight: bold;">Email Address</label>
                  <input
                    type="email"
                    id="signup-form__email"
                    class="signup-form__email bg-gray-100 md:min-w-[300px]"
                    value=""
                    name="contact[email]"
                    aria-label="{{ 'layout.signup.input_label' | t | escape }}"
                    required />
                </div>
                <button class="button flex-1 bg-[#004289] text-white md:min-w-[300px] h-14 font-bold" type="submit">
                  {{- 'layout.signup.submit' | t -}}
                </button>
              </div>


            </div>
          {% endif %}
        {% endform %}
      </div>
    </div>


  </div>
</div>

{% schema %}
  {
    "name": "Custom Newsletter",
    "class": "section-newsletter",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "join our Newsletter"
      },
      {
        "type": "richtext",
        "id": "subheading",
        "label": "Subheading",
        "default": "<p>Be the first to know about our offers, events &  new arrivals.</p>"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Background color",
        "default": "#004289"
      },
      {
        "type": "paragraph",
        "content": "Customers who subscribe will have their email address added to the “accepts marketing” [customer list](/admin/customers?query=&accepts_marketing=1)"
      }, {
        "type": "image_picker",
        "id": "newsletter_cover",
        "label": "Newsletter Cover"
      }
    ],
    "presets": [
      {
        "name": "Custom Newsletter",
        "settings": {}
      }
    ]
  }
{% endschema %}