<div class="collection-banner-3__container" data-cc-animate>
  <div class="collection-container__col">
    <!-- Collection 1 -->
    <div class="collection-container collection-1">
      {% assign collection_1 = section.settings.collection_1 %}

      <img
        class="collection-image"
        src="{{ collection_1.image | image_url: width: 740 }}"
        alt="{{ collection_1.alt }}">

      <div class="collection-content">
        <h2 class="collection-content__title">{{ collection_1.title }}</h2>
        <p class="collection-content__description">{{ section.settings.collection_1_description }}</p>
        <a class="collection-content__link" href="{{ collection_1.url }}">SHOP {{ collection_1.title }}</a>
      </div>
    </div>


    <!-- Collection 2 -->
    <div class="collection-container  collection-2">
      {% assign collection_2 = section.settings.collection_2 %}

      <img
        class="collection-image"
        src="{{ collection_2.image | image_url: width: 740 }}"
        alt="{{ collection_2.alt }}">

      <div class="collection-content">
        <h2 class="collection-content__title">{{ collection_2.title }}</h2>
        <p class="collection-content__description">{{ section.settings.collection_2_description }}</p>
        <a class="collection-content__link" href="{{ collection_2.url }}">SHOP {{ collection_2.title }}</a>
      </div>
    </div>

  </div>

  <!-- Collection 3: Outdoor Essentials -->
  <div class="collection-container  collection-3">
    {% assign collection_3 = section.settings.collection_3 %}

    <img
      class="collection-image"
      src="{{ collection_3.image | image_url: width: 740 }}"
      alt="{{ collection_3.alt }}">

    <div class="collection-content">
      <h2 class="collection-content__title">{{ collection_3.title }}</h2>
      <p class="collection-content__description">{{ section.settings.collection_3_description }}</p>
      <a class="collection-content__link" href="{{ collection_3.url }}">SHOP {{ collection_3.title }}</a>
    </div>
  </div>

</div>


{% schema %}
  {
    "name": "Collection Banner 3",
    "class": "collection-banner-3",
    "settings": [
      {
        "type": "collection",
        "id": "collection_1",
        "label": "Colleciton 1"
      },
      {
        "type": "text",
        "id": "collection_1_description",
        "label": "Colleciton 1 Description",
        "default": "Nullan quis risus eget urna mollis ornare vel eu leo."
      },
      {
        "type": "collection",
        "id": "collection_2",
        "label": "Colleciton 2"
      },
      {
        "type": "text",
        "id": "collection_2_description",
        "label": "Colleciton 2 Description",
        "default": "Curabitur blandit tempus porttitor. Maecenas faucibus mollis."
      }, {
        "type": "collection",
        "id": "collection_3",
        "label": "Colleciton 3"
      }, {
        "type": "text",
        "id": "collection_3_description",
        "label": "Colleciton 3 Description",
        "default": "Curabitur blandit tempus porttitor. Maecenas faucibus mollis."
      }

    ],
    "presets": [
      {
        "name": "Collection Banner 3"
      }
    ]
  }
{% endschema %}